
<form action="/newpost/<%= @category %>" method="post" name="create">
  <label for="content">Content</label>
  <input type="text" name="content" placeholder="description"><br>
  <label for="price">Price</label>
  <input type="text" name="price" placeholder="e.g. 47"><br>
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="e.g. example@gmail.com"><br>
  <input type="submit" value="Create post">
</form>


